{% load i18n %}{% autoescape off %}

{% blocktrans %}Hi, {{ creator_name }}!

{{ user_name }} has posted a comment on a news post you wrote in group {{ group_name }}:{% endblocktrans %}

"{{ comment_text }}"


{% trans "The news post you posted was:" %}
"{{ note_text }}"

{% trans "Follow this link to see the comment:" %}
{{ protocol }}://{{ site.domain }}{% url 'cosinnus:note:note' group=group.slug slug=note.slug %}



{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}