{% extends "cosinnus_note/base.html" %}
{% load i18n cosinnus_tags %}
{% load static from staticfiles %}
{% block page_title %}Note{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a> <span class="divider">/</span></li>
    <li class="active">{% trans "Delete" %}</li>
{% endblock %}

{% block subnav_add_right %}{% endblock %}

{% block content %}
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {{ form }}

        <div class="control-group">
            <label class="control-label">Are you sure to remove this note?</label>
            <div class="controls">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'cosinnus:note:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}