{% load i18n static cosinnus_tags %}

{% captureas button_classes %}{% if full_view %}btn btn-default w100 indented{% else %}btn btn-default dashboard-appwidget-contentline-extra-indented{% endif %}{% endcaptureas %}

<div class="{% if not comments_expanded == "True" %}fadedown {% endif %}large-space"  >
    {% with comments=note.comments.all %}
            <div type="button" class="{{ button_classes }}">
                <ul class="media-list fine-space">
                    <li class="media">
                        <div class="media-body comment-background  no-vertical-padding">

                            <ol class="input-area comment-background">
                                <li class="w100 font11px no-vertical-padding no-horizontal-padding fadedown-clickarea">
                                        {% comment %} Like count
                                        <a href="#" class="pull-right nounderline">
                                            <i class="fa fa-heart"></i>
                                            3
                                        </a>
                                        {% endcomment %}
                                        <a href="#" class="pull-right nounderline">
                                            <i class="fa fa-comments"></i>
                                            {{ comments|length }}
                                        </a>
                                        {% comment %} Like button
                                        <a href="#">Empfehlen</a>
                                        {% endcomment %}
                                        {% if comments or user|can_create_objects_in:note.group %}
                                            <a href="#">Kommentieren</a>
                                        {% endif %}

                                </li>
                            </ol>
                            {% comment %} Likes display 
                            <ol class="input-area comment-background">
                                <li class="w100 font11px no-vertical-padding no-horizontal-padding">
                                        <i class="fa fa-heart"></i>
                                        <a href="#">Simon Liedtke</a>
                                        empfiehlt das
                                </li>
                            </ol>
                            {% endcomment %}
                        </div>
                    </li>
                </ul>
            </div><!-- btn -->
            
            <div {% if not comments_expanded == "True" %}style="display:none;"{% endif %}>
            {% for comment in comments %}
            
                <div type="button" class="{{ button_classes }}">
                    <ul class="media-list {% if not forloop.last %}fine-space{% endif %}">
                        <li class="media">
                            <a class="pull-left" href="{{ comment.creator.cosinnus_profile.get_absolute_url }}">
                                {% include 'cosinnus/user/user_avatar_image.html' with user=comment.creator %}
                            </a>
                            <div class="media-body comment-background">
                                <strong><a href="{{ comment.creator.cosinnus_profile.get_absolute_url }}">{{ comment.creator|full_name }}</a></strong>
                                <div class="font11px regular-space">
                                    {% if user|has_write_access:comment %}
                                        <form id="delete_comment_form_{{ comment.pk }}" action="{% url 'cosinnus:note:comment-delete' group=comment.note.group.slug pk=comment.pk %}" method="post" class="form-horizontal">
                                            {% csrf_token %}
                                            <a class="pull-right" href="#" onclick="$('#delete_comment_form_{{ comment.pk }}').submit(); return false;" title="{% trans "Löschen" %}">[X]</a>
                                        </form>
                                    {% endif %}
                                    <span class="moment-data-date" data-date="{{ comment.created_on|date:'c' }}" ></span>
                                </div>
                                <p class="comment-background">{{ comment.text|linebreaksbr }}</p>
                                
                            </div>
                        </li>
                    </ul>
                </div><!-- btn -->
            
            {% endfor %}
            
            {% if user|can_create_objects_in:note.group %}
                <form action="{% url 'cosinnus:note:comment' group=note.group.slug note_slug=note.slug %}" method="post" class="form-horizontal">
                    {% csrf_token %}
            
                    <div type="button" class="{{ button_classes }}">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="{% url 'cosinnus:profile-detail' %}">
                                    {% include 'cosinnus/user/user_avatar_image.html' with user=user %}
                                </a>
                                <div class="media-body no-horizontal-padding no-vertical-padding">
                                    <textarea id="id_text" name="text" class="form-control next-button-is-for-sending autogrow oneline" placeholder="Kommentar schreiben"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div><!-- btn -->

                    <button type="submit" class="btn btn-emphasized {% if comments_expanded == "True" %}large-space{% endif %}" {% if comments_expanded == "True" %}style="display: none;"{% endif %}>
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-save"></i>
                                </a>
                                <div class="media-body">
                                    {% trans "Post" %}
                                </div>
                            </li>
                        </ul>
                    </button><!-- btn -->
                    
                </form>
            {% endif %}
            </div>
    {% endwith %}
</div><!-- fadedown -->