{% extends "cosinnus_note/base.html" %}
{% load i18n cosinnus_tags %}
{% block page_title %}{% trans "Notes" %}: {{group.name}} {% endblock %}

{% block breadcrumb %}
        {{ block.super }}
        {% if current_folder and current_folder.path != '/' %}
            <li class="active">{{ current_folder.title }}</li>
        {% endif %}
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/leftnav_hierarchic_listview.html" %}
{% endblock leftnav %}


{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
    
        {% include 'cosinnus/common/filter_controls.html' %}        
        
    
        <div class="app-main">
            <div type="button" class="btn btn-default w100 large-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="{% url 'cosinnus:profile-detail' %}">
	                        {% include "cosinnus/user/user_avatar_image.html" with user=user %}
	                    </a>
                        <div class="media-body no-horizontal-padding no-vertical-padding">
                            <textarea class="form-control next-button-is-for-sending autogrow oneline"
                                placeholder="{% trans "Schreibe einen Beitrag in diese Gruppe" %}" /></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-emphasized large-space" style="display: none;">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <div class="media-body">
                            {% trans "Create" %}
                        </div>
                    </li>
                </ul>
            </button>
        </div>
        
    
        {% for note in object_list %}
            <div> <!-- note-wrapper -->

                <div class="app-main">
                    <div type="button" class="btn btn-emphasized w100">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="{{ note.creator.cosinnus_profile.get_absolute_url }}">
				                    {% include "cosinnus/user/user_avatar_image.html" with user=note.creator %}
				                </a>
                                <div class="media-body">
                                    <span class="annotation">
                                        <a href="{{ note.group.get_absolute_url }}">
                                            <i class="fa fa-users"></i>
                                            {{ note.group.name }}
                                        </a>
                                    </span>
                                    <strong><a href="{{ note.creator.cosinnus_profile.get_absolute_url }}">{{ note.creator|full_name }}</a></strong> <span class="moment-data-date" data-date="{{ note.created|date:'c' }}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="indented">
                    {{ note.text|urlizetrunc:25|linebreaks }}
                </div>

                <div class="app-calendar indented">
                    <button type="button" class="btn btn-emphasized w100">
                        <ul class="media-list fine-space">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-calendar"></i>
                                </a>
                                <a class="pull-right square-date-icon btn-extra-emphasized" href="#">
                                    <div>19</div>
                                    <div>Dez</div>
                                </a>
                                <div class="media-body">
                                            <strong><a>de:groth Call for Papers</a></strong>
                                </div>
                            </li>
                        </ul>
                    </button><!-- btn -->
                </div>


                <div type="button" class="btn btn-default w100 indented">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body no-vertical-padding">

                                <ol class="input-area">
                                    <li class="w100 font11px no-vertical-padding no-horizontal-padding">
                                        <i class="fa fa-tags"></i>
                                        <a href="#">Lorem</a>
                                        <a href="#">Ipsum</a>
                                        <a href="#">sed dolor</a>
                                        <a href="#">sid amet</a>
                                    </li>
                                </ol>
                                <ol class="input-area">
                                    <li class="w100 font11px no-vertical-padding no-horizontal-padding">
                                        <i class="fa fa-map-marker"></i>
                                        <a href="#">Kreuzberg, Berlin</a>
                                    </li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>

                <div type="button" class="btn btn-default w100 indented">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body no-vertical-padding comment-background">

                                <ol class="input-area comment-background">
                                    <li class="w100 font11px no-vertical-padding no-horizontal-padding">
                                            <a href="#" class="pull-right nounderline">
                                                <i class="fa fa-heart"></i>
                                                3
                                            </a>
                                            <a href="#" class="pull-right nounderline">
                                                <i class="fa fa-comments"></i>
                                                2
                                            </a>
                                            <a href="#">Empfehlen</a>
                                            <a href="#">Kommentieren</a>

                                    </li>
                                </ol>
                                <ol class="input-area comment-background">
                                    <li class="w100 font11px no-vertical-padding no-horizontal-padding">
                                            <i class="fa fa-heart"></i>
                                            <a href="#">Simon Liedtke</a>
                                            empfiehlt das
                                    </li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </div>


                <div type="button" class="btn btn-default w100 indented">
                    <ul class="media-list fine-space">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img src="avatar.png" />
                            </a>
                            <div class="media-body comment-background">
                                <strong><a href="#">Boris Woynowski</a></strong>
                                <div class="font11px regular-space">letzten Mittwoch um 13:43</div>
                                <p class="comment-background">Cosinnus heißt jetzt Imago. So wie Vattenfall Lichtblick heißt und Currywurst Tofu.</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- btn -->

                <div type="button" class="btn btn-default w100 indented">
                    <ul class="media-list fine-space">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img src="avatar2.png" />
                            </a>
                            <div class="media-body comment-background">
                                <strong><a href="#">Anne Scharm</a></strong>
                                <div class="font11px regular-space">letzten Mittwoch um 13:43</div>
                                <p class="comment-background">Cosinnus heißt jetzt Imago. So wie Vattenfall Lichtblick heißt und Currywurst Tofu.</p>
                            </div>
                        </li>
                    </ul>
                </div><!-- btn -->


                <div class="app-main">
                    <div type="button" class="btn btn-default w100 indented">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img src="avatar.png" />
                                </a>
                                <div class="media-body no-horizontal-padding no-vertical-padding">
                                    <textarea class="form-control next-button-is-for-sending autogrow oneline" placeholder="Kommentar schreiben"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div><!-- btn -->

                    <button type="button" class="btn btn-emphasized" style="display:none;">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-save"></i>
                                </a>
                                <div class="media-body">
                                    Posten
                                </div>
                            </li>
                        </ul>
                    </button><!-- btn -->
                </div>

            </div> <!-- note-wrapper -->
            
            
        {% empty %}
            {% include 'cosinnus/common/empty_button.html' with message="There are no notes." %}
        {% endfor %}
    
    </div><!-- content-box -->
{% endblock %}
