{% extends "cosinnus_note/base.html" %}
{% load i18n cosinnus_tags widget_tweaks %}
{% block page_title %}{% trans "Notes" %}: {{group.name}} {% endblock %}

{% block breadcrumb %}
        {{ block.super }}
{% endblock %}

{% block leftnav %}
{% endblock leftnav %}


{% block content %}
    
    <!-- a box with semi transparent background -->
    <div class="content-box">
    
        {% include 'cosinnus/common/filter_controls.html' %}        
        
        {% if user|can_create_objects_in:group %}
        <form action="{% group_url 'cosinnus:note:add' group=group.slug %}" method="POST" id="note_create_form">{% csrf_token %}
	        <div class="app-main">
	            <div class="fadedown large-space">
	            
			        <div class="btn btn-white btn-headline fadedown-clickarea">
			            <ul class="media-list">
			                <li class="media">
			                    <a class="pull-left" href="{% url 'cosinnus:profile-detail' %}">
			                        {% include "cosinnus/user/user_avatar_image.html" with user=user %}
			                    </a>
			                    <a class="pull-right" href="#">
			                        <i class="fa fa-pencil"></i>
			                    </a>
			                    <div class="media-body">
			                        {% trans "Write a news post" %}
			                    </div>
			                </li>
			            </ul>
			        </div>
	            
	                
		            <div>
		                {{ form.forms.obj.non_field_errors }}
		                <ol class="input-area">
		                    <li class="w100">
		                        {{ form.forms.obj.text.errors }}
		                        {% captureas placeholder %}{% trans "Write a news post" %}{% endcaptureas %}
		                        {% render_field form.forms.obj.text class+="form-control autogrow" placeholder=placeholder %}
		                    </li>
		                </ol>
		                
		                {% include 'cosinnus/media_tags.html' %}
		                    
		            </div>
		
		            <button type="submit" class="btn btn-emphasized">
		                <ul class="media-list">
		                    <li class="media">
		                        <a class="pull-left" href="#">
		                            <i class="fa fa-pencil"></i>
		                        </a>
		                        <div class="media-body">
		                            {% trans "Post" %}
		                        </div>
		                    </li>
		                </ul>
		            </button>
	            </div>
	            
	            <!-- xxxxxx -->
	        
	        </div>
        </form>
        {% endif %}
        
    
        {% for note in object_list %}
            
            {% include 'cosinnus_note/single_note_detailed.html' with object=note %}
            
        {% empty %}
            <!-- {% trans "There are no news posts yet" %} -->
            {% include 'cosinnus/common/empty_button.html' with message="There are no news posts yet" %}
        {% endfor %}
    
    </div><!-- content-box -->
{% endblock %}
