{% load i18n cosinnus_tags %}

{% with note=object %}
	<div class="large-space"> <!-- note-wrapper -->
	
	    <div class="app-main">
	        <div type="button" class="btn btn-emphasized w100">
	            <ul class="media-list">
	                <li class="media">
	                    <a class="pull-left" href="{{ note.creator|profile_url }}">
	                        {% include "cosinnus/user/user_avatar_image.html" with user=note.creator %}
	                    </a>
	                    <div class="media-body">
	                        <span class="annotation">
                                <a href="{{ note.group.get_absolute_url }}">
                                    <i class="fa fa-users"></i>
                                    {{ note.group.name }}
                                </a>
                            </span>
                            {% if user|has_write_access:note %}
	                            <span class="annotation">
	                                <a href="{% group_url 'cosinnus:note:update' group=note.group.slug portal_id=note.group.portal.id slug=note.slug %}">
	                                    <i class="fa fa-pencil"></i>
	                                    {% trans "Edit" %}
	                                </a>
                                    <a data-toggle="modal" data-target="#deleteNote_{{note.pk}}" href="#" title="{% trans "Delete note" %}">
                                        <i class="fa fa-times"></i>
                                        {% trans "Delete" %}
                                    </a> &nbsp;
	                            </span>
	                        {% endif %}
	                        <strong><a href="{{ note.creator|profile_url }}">{{ note.creator|full_name }}</a></strong> 
	                        <a class="light-link" target="_blank" href="{{ note.get_absolute_url }}"
                            ><span class="moment-data-date" data-date="{{ note.created|date:'c' }}" title="{{ note.created|date:'r' }}"></span> <i class="fa fa-external-link"></i>
                            </a>
	                        
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	    
	    {% if user|has_write_access:note %}
            {% captureas modal_id %}deleteNote_{{note.pk}}{% endcaptureas %}
            {% captureas title %}{% trans "Delete note" %}{% endcaptureas %}
            {% captureas label %}{% trans "Do you really want to delete this note?" %}{% endcaptureas %}
            {% captureas action %}{% group_url 'cosinnus:note:delete' group=note.group.slug slug=note.slug%}{% endcaptureas %}
            {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
        {% endif %}
	    
	    <div class="indented regular-space">
	        {% if note.title and not note.title == '---' %}
                <p><b>{{ note.title }}</b></p>
            {% endif %}
	        <p>{{ note.text|urlizetrunc:25|url_target_blank|linebreaksbr }}</p>
	        {% if note.video %}
	            {% include 'cosinnus/common/embed_youtube.html' with video_id=note.video_id %}
	        {% endif %}
	    </div>
	    
	    {% if note.attached_images %}
	        <div class="indented row">
	            {% for image in note.attached_images|slice:":3" %}
		            <div class="col-sm-4">
		                <a href="{{ image.static_image_url }}" target="_blank" class="thumbnail">
		                    <img src="{{ image.static_image_url }}" />
		                </a>
		            </div>
	            {% endfor %}
	        </div>
        {% endif %}
	    
	    {% include 'cosinnus/media_tags_readonly.html' with object=note list_view="True" %}
	    
	    {% comment %} This is how the proper attachment should be styled 
	    <div class="app-calendar indented">
	        <button type="button" class="btn btn-emphasized w100">
	            <ul class="media-list fine-space">
	                <li class="media">
	                    <a class="pull-left" href="#">
	                        <i class="fa fa-calendar"></i>
	                    </a>
	                    <a class="pull-right square-date-icon btn-extra-emphasized" href="#">
	                        <div>19</div>
	                        <div>Dez</div>
	                    </a>
	                    <div class="media-body">
	                                <strong><a>de:groth Call for Papers</a></strong>
	                    </div>
	                </li>
	            </ul>
	        </button><!-- btn -->
	    </div>
	    {% endcomment %}
	
	    {% include 'cosinnus_note/note_comments.html' with note=note full_view="True" comments_expanded="True" %}
	    
	</div> <!-- note-wrapper -->
	
{% endwith %}