{% load i18n %}
{% load cosinnus_tags %}

{% if notes %}
    {% for note in notes %}
      <table class="">
        
          <tr>
              <td>{{ note.creator }} on {{ note.created }}</td>
          </tr>
          <tr>
              <td><a href="{% url 'cosinnus:note:note' group=note.group.slug slug=note.slug %}">title: {{ note.title }}</a></td>
          </tr>
          <tr><td>text: {{ note.text }}</td></tr>
          
          <tr><td>
            {% if note.attached_objects.all %}
                <div style="max-width:250px; max-height:200px; overflow:hidden;">
                    {% cosinnus_render_attached_objects note 'cosinnus_file.FileEntry' %}
                </div>
            {% endif %}
          </td></tr>
          <tr><td>{{ note.comments.count }} comments</td></tr>
      </table>
       
      <hr/>
      
    {% endfor %}
  
{% else %}
  {{ no_data }}
{% endif %}

