{% load i18n static cosinnus_tags widget_tweaks %}


{% if notes %}
    {% for note in notes %}
        <div type="button" class="btn btn-emphasized btn-headline">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="{{ note.creator|profile_url }}">
                        {% include "cosinnus/user/user_avatar_image.html" with user=note.creator %}
                    </a>
                    <div class="media-body">
                         <a href="{{ note.creator|profile_url }}">{{ note.creator|full_name }}</a> –<a class="light-link" target="_blank" href="{{ note.get_absolute_url }}"
                         ><span class="moment-data-date" data-date="{{ note.created|date:'c' }}" title="{{ note.created|date:'r' }}"></span> <i class="fa fa-external-link"></i></a>
                         {% if note.get_facebook_post_url %}
                            <a target="_blank" href="{{ note.get_facebook_post_url }}"
                            ><i class="fa fa-facebook-square"></i> 
                            </a>
                        {% endif %}
                         {% if user|has_write_access:note %}
                             <a data-toggle="modal" data-target="#deleteNote_{{note.pk}}" href="#" title="{% trans "Delete note" %}"><i class="fa fa-times"></i></a>
                         {% endif %}
                         <div class="group-annotation">
                             {% include 'cosinnus/group/group_label.html' with group=note.group %}
                             {% if user|has_write_access:note %}
                                 <a href="{% group_url 'cosinnus:note:update' group=note.group slug=note.slug %}">
                                     <i class="fa fa-pencil"></i>
                                     {% trans "Edit" %}
                                 </a>
                             {% endif %}
                         </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
        
        {% if user|has_write_access:note %}
            {% captureas modal_id %}deleteNote_{{note.pk}}{% endcaptureas %}
            {% captureas title %}{% trans "Delete note" %}{% endcaptureas %}
            {% captureas label %}{% trans "Do you really want to delete this note?" %}{% endcaptureas %}
            {% captureas action %}{% group_url 'cosinnus:note:delete' group=note.group slug=note.slug%}{% endcaptureas %}
            {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
        {% endif %}
        
        <div type="button" class="btn btn-default dashboard-appwidget-contentline-extra-indented">
            <ul class="media-list fine-space">
                <li class="media">
                    <div class="media-body">
                        <div class="well">
                            {% with note_text=note.text|urlizetrunc:25|url_target_blank|linebreaksbr note_id=note.id %}
                                {% if note.title and not note.title == '---' %}
                                    <p class="regular-space"><strong>{{ note.title|urlizetrunc:25|url_target_blank }}</strong></p>
                                {% endif %}
                                {% if note.text|length|intify < 200 %}
                                    <p>{{ note_text }}</p>
                                {% else %}
                                    <div class="hidden_text_shown" data-hidden-text-id="note_{{ note_id }}" >
                                        <p>{{ note.text|truncatechars:200|urlizetrunc:25|url_target_blank|linebreaksbr }} <a class="hidden_text_button" data-hidden-text-id="note_{{ note_id }}">{% trans "Read more..." %}</a></p>
                                    </div>
                                    <div class="hidden_text_hidden" data-hidden-text-id="note_{{ note_id }}" style="display:none;">
                                        <p>{{ note_text }}</p>
                                    </div>
                                    <script type="text/javascript">
									    $.cosinnus.hidden_text();
									</script>
                                {% endif %}
                            {% endwith %}
                        </div>
                        {% if note.attached_image %}
                            <a href="{{ note.attached_image.static_image_url }}" data-lightbox="image-note-{{ note.id }}" data-title="{{ note.attached_image.title }}">
                            	<img src="{{ note.attached_image.static_image_url }}" />
                            </a>
                        {% endif %}
                        {% if note.video %}
                            {% include 'cosinnus/common/embed_youtube.html' with video_id=note.video_id %}
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
        
        {% include 'cosinnus/media_tags_readonly.html' with object=note %}


        {% include 'cosinnus_note/note_comments.html' with note=note %}

    {% endfor %}
  
{% else %}
    <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline fine-space">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-tasks"></i>
                </a>
                <div class="media-body">
                    {% trans "There are no news posts yet" %}
                </div>
            </li>
        </ul>
    </div><!-- btn -->
{% endif %}

