{% load i18n static cosinnus_tags widget_tweaks %}

    <div class="fadedown regular-space">
        {% comment %} 
        The refresh/edit/delete button, left out for now
        <div class="btn-group pull-right">
            <a href="#" class="btn darker btn-xs" title="{% trans "Refresh" %}" data-type="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
            {% if user.is_superuser or user|is_group_member:object %}
              <a href="#" class="btn darker btn-xs" title="{% trans "Configure" %}" data-type="edit"><span class="glyphicon glyphicon-wrench"></span></a>
              <a href="#" class="btn darker btn-xs" title="{% trans "Delete" %}" data-type="delete"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
          </div>
        {% endcomment %}
        
        
        <div class="btn btn-white dashboard-appwidget-headline fadedown-clickarea">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        {% if request.user.cosinnus_profile.avatar %}
                            <img src="{{ request.user.cosinnus_profile.avatar_url }}" />
                        {% else %}
                            <img src="{% static 'images/jane-doe.png' %}" title="{% trans 'You have not uploaded an avatar yet' %}"></img>
                        {% endif %}
                    </a>
                    <a class="pull-right" href="#">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="media-body">
                         <span data-target="widget-title">{{widget_title}}</span>
                    </div>
                </li>
            </ul>
        </div>
        
        
	    <form action="{% url 'cosinnus:note:add' group=group.slug %}" method="POST" id="widgetform{{ widget_conf_id }}">{% csrf_token %}
	        <div>
	            {{ form.forms.obj.non_field_errors }}
		        <ol class="input-area">
		            <li class="w100">
		                {{ form.forms.obj.title.errors }}
		                {% captureas placeholder %}{% trans "Titel der Nachricht." %}{% endcaptureas %}
		                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder id="etherpadTitle" %}
		            </li>
		        </ol>
		        <ol class="input-area">
		            <li class="w100">
		                {{ form.forms.obj.text.errors }}
		                {% captureas placeholder %}{% trans "Bitte Nachricht eingeben..." %}{% endcaptureas %}
		                {% render_field form.forms.obj.text class+="form-control" placeholder=placeholder id="etherpadTitle" %}
		            </li>
		        </ol>
		        
		        {% include 'cosinnus/media_tags.html' %}
			        
            </div>

            <button type="submit" class="btn btn-emphasized">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <div class="media-body">
                            Posten
                        </div>
                    </li>
                </ul>
            </button>
	    </form>

    </div>

{% if notes %}
    {% for note in notes %}
      <table class="">
        
          <tr>
              <td>{{ note.creator }} on {{ note.created }}</td>
          </tr>
          <tr>
              <td><a href="{% url 'cosinnus:note:note' group=note.group.slug slug=note.slug %}">title: {{ note.title }}</a></td>
          </tr>
          <tr><td>text: {{ note.text }}</td></tr>
          
          <tr><td>
            {% if note.attached_objects.all %}
                <div style="max-width:250px; max-height:200px; overflow:hidden;">
                    {% cosinnus_render_attached_objects note 'cosinnus_file.FileEntry' %}
                </div>
            {% endif %}
          </td></tr>
          <tr><td>{{ note.comments.count }} comments</td></tr>
      </table>
       
      <hr/>
      
    {% endfor %}
  
{% else %}
  {{ no_data }}
{% endif %}

